<div class="container">
  {{#each blogs as |blog| }}
  <div class="card mb-4">
    <div class="card-header">
      <h2 class="card-title">
        <a href="/blog/{{blog.id}}">{{blog.title}}</a>
      </h2>
      <p class="card-subtitle text-muted">Created by {{blog.user.username}} on {{format_date blog.date_created}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{blog.description}}</p>
    </div>
  </div>
  {{/each}}
</div>